
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="welcom">
    <h1>Chào mừng bạn đến với trường Đại học Bùi Ngọc Tiến</h1>
    <p>Một trường đại học mới được thành lập với sứ mệnh đào tạo những cán bộ chất lượng cao cho xã hội.</p>
    <p>Trường Đại học Bùi Ngọc Tiến là một tổ chức giáo dục tư thục, được thành lập nhằm mục đích cung cấp cho sinh viên một môi trường học tập và nghiên cứu tiên tiến, giúp họ phát triển tối đa tiềm năng cá nhân của mình. Với tiêu chí “Tầm nhìn - Kiến thức - Tài năng”, trường Bùi Ngọc Tiến cam kết mang đến cho sinh viên chương trình đào tạo chất lượng và đa dạng, tạo điều kiện cho học sinh có nền tảng vững chắc để phát triển sự nghiệp trong tương lai.</p>
    <p>Chúng tôi cung cấp các chương trình đào tạo bao gồm các ngành khoa học xã hội, kinh doanh, công nghệ thông tin, y tế, và nhiều lĩnh vực khác. Chúng tôi tự hào về đội ngũ giảng viên tận tâm và giàu kinh nghiệm của mình, đảm bảo rằng sinh viên của chúng tôi sẽ nhận được sự hỗ trợ và cố vấn chuyên môn tốt nhất. Bên cạnh đó, chúng tôi cũng đang xây dựng mối quan hệ với các công ty và tổ chức trong khu vực để cung cấp cho sinh viên của chúng tôi cơ hội thực tập và làm việc sau khi tốt nghiệp.</p>
    <p>Tại trường Bùi Ngọc Tiến, chúng tôi cũng đặc biệt chú trọng đến việc phát triển các hoạt động ngoại khóa và hỗ trợ sinh viên tham gia các chương trình giáo dục quốc tế. Chúng tôi tin rằng những trải nghiệm này sẽ giúp sinh viên của chúng tôi phát triển tư duy toàn cầu và trở thành những công dân toàn cầu.</p>
    <p>Nếu bạn đang tìm kiếm một trường đại học với một môi trường học tập thân thiện và năng động, cùng với chương trình đào tạo chất lượng cao và nhiều cơ hội thực tập và làm việc, hãy đến với trường Đại học Bùi Ngọc Tiến. Chúng tôi tin rằng trường Đại học Bùi Ngọc Tiến sẽ là một điểm đến lý tưởng cho những sinh viên có ước mơ phát triển sự nghiệp và đóng góp cho cộng đồng. Chúng tôi luôn mong muốn đào tạo ra những cán bộ, nhà lãnh đạo tương lai có tầm nhìn rộng, kiến thức sâu và tài năng vượt trội, đáp ứng được yêu cầu và thách thức của thế giới hiện đại.</p>
    <p>Ngoài ra, trường Đại học Bùi Ngọc Tiến cũng đảm bảo một môi trường học tập và sống an toàn và tiện nghi cho sinh viên, với các trang thiết bị và cơ sở vật chất đáp ứng được tiêu chuẩn quốc tế. Chúng tôi cũng đặc biệt quan tâm đến việc phát triển các hoạt động văn hóa, thể thao và giải trí để sinh viên có thể có một cuộc sống học đường đầy đủ và đa dạng.</p>
    <p>Trong tương lai, chúng tôi sẽ tiếp tục đầu tư vào nghiên cứu và phát triển các chương trình đào tạo tiên tiến, tạo điều kiện tốt nhất cho sinh viên của chúng tôi phát triển tối đa tiềm năng cá nhân của mình. Chúng tôi cũng sẽ tiếp tục phát triển các mối quan hệ với các đối tác trong ngành và cộng đồng để tạo ra nhiều cơ hội hấp dẫn cho sinh viên của chúng tôi.</p>
    <p>Chân thành cảm ơn bạn đã quan tâm đến trường Đại học Bùi Ngọc Tiến. Hãy đến và trải nghiệm một môi trường học tập đầy sáng tạo và tiềm năng tại trường chúng tôi!</p>
</div>

<style>
    .welcom {
        margin-left: 20px;
    }

    h1 {
        font-size: 35px;
    }
</style>
